In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
# reading the csv file
df = pd.read_csv(r'C:\Users\perei\OneDrive\Desktop\Datasets-20211109\Sales_add.csv')

In [3]:
# displaying some rows and columns of the csv file
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
# displaying the info of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
# checking for null values
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [6]:
# displaying the basics mean standard deviation min max etc of the file
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing?

In [7]:
## H0 = sales before digital add is equal to sales after digital add
## H1 = sales after digital add is more than sales before digital add

In [8]:
# setting the significance level as  5%
alpha  = .05

In [9]:

a = df['Sales_before_digital_add(in $)'] # storing the values of  'Sales_before_digital_add(in $)'column of the data frame in variable a 
b = df['Sales_After_digital_add(in $)'] # storing the values of 'Sales_After_digital_add(in $)' column of dataframe in variable b

In [10]:
#since the size of the sample is less than 30 and we do not know the standard deviation of the populaton t statistic is used
# evaluating the t statistics
t_score,t_pvalue = stats.ttest_rel(b,a)

In [11]:
t_pvalue

6.336667004575778e-11

In [12]:
t_score

12.09070525287017

In [13]:
if t_pvalue >= alpha:
    print('H0 is accepted since p value is more than alpha')
if t_pvalue < alpha :
    print('H0 is rejected as p value is less than alpha')

H0 is rejected as p value is less than alpha

In [14]:
## so we can say than  digital add had increased  the sales significantly than sales before when there was no digital add add

# The company needs to check whether there is any dependency between the features “Region” and “Manager”?

In [15]:
#H0 = there is no dependancy between Region and Manager
#H1 = there is dependancy between Region and Manager

In [16]:
alpha_level = 0.05

In [17]:
# Creating a contingency table which includes the number of observed frequency
contingency_table =  pd.crosstab(df.Region,df.Manager)

In [18]:
#displaying the contingency table
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [19]:
# Performing the chi square test
stats.chi2_contingency(contingency_table)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [20]:
# here chi score =3.050566893424036
# pvalue = 0.5493991051158094
# degrees of freedom = 4 
# array of expected values = ([[4.09090909, 3.18181818, 2.72727273],
#                             [2.86363636, 2.22727273, 1.90909091],
#                             [2.04545455, 1.59090909, 1.36363636]]))
# since the pvalue is greater than alpha level we accept the Null Hypothesis H0
# That is there is no significant dependancy between Manager and Region