In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
# reading the csv file
stud_per = pd.read_csv(r'C:\Users\perei\OneDrive\Desktop\Datasets-20211109\StudentsPerformance.csv')

In [3]:
# displaying a portion of the file
stud_per.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

# 1

In [4]:
# getting the total number of males and females participated in the test
stud_per['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

# 2

In [5]:
# displaying the count of  level of education of parents
stud_per['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [6]:
# its clear from above that most of the parents have attended college or may have associate's degree and only few have master's degree

# 3

# a

In [7]:
# obtaing the mean values for math reading and writing based on gender
stud_per.groupby('gender')[['math score','reading score','writing score']].mean()

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [8]:
# from the above data we can say that females have a better average than males in reading and writing while
# males have better average in math when compared to that of females

# b

In [9]:
# obtaing the avrrage of maths , reading, writing based on whether the student completed teast preparation course 
stud_per.groupby('test preparation course')[['math score','reading score','writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [10]:
# its clear that those who completed the test prepration course performed well in the exam

# 4

# a

In [11]:
# taking the standard deviation of math, reading writing scores
stud_per.groupby('gender')[['math score','reading score','writing score']].std()

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [12]:
# from the above data compared to females standard deviation of scores of males  in math, reading, and writing is less
# which means that all the marks obtained by the boys were closer to the mean and the variation in scores were less
#but in case of females the variation in scores are little bit hig when compared to males

# b

In [13]:
# calculating the standard deviation of math reading and writing based on whether the student completed test preparation course
stud_per.groupby('test preparation course')[['math score','reading score','writing score']].std()

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [14]:
# it is clear that those who completed the course have less deviation from the mean when compared to those who did not completed the course

# 5

In [31]:
# obtaing thr 3rd quartile of the data 
stud_per['math score'].quantile(0.75)

77.0

In [33]:
# so those who are  have math score greater than 77 are eligible for bonus point